@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 320px;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;

}
.qr-image{
    width: 100%;
}
.qr-image img{
    width: 100%;
    border-radius: 15px;
}
.body-card{
    text-align: center;
    font-family: Outfit, sans-serif;
}
.body-card p{
    color: hsl(220, 15%, 55%);
}
